/* Boilerplate CSS provided */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbfbfb;
}

.basket-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.basket-box p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  color: black;
}

.basket-box ion-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: 	black;
}

.basket-box button:hover {
  cursor: pointer;
}

#checkout {
  padding: 5px;
  width: 100%;
}
/* CODING_TASK_2: header - add css rules to style the classes in your header (excluding the navbar) */
.header {
  
}

.header__title {

}

/* CODING_TASK_4: navbar - add css rules to style the classes in your navbar until you are happy with how it looks. */
.navbar {

}
  
/* CODING_TASKS_6: image/product - add css rules to layout your products and add styling to them */

.products {
  
}

.product {

}

.product__icon {

}

.product__title {

}

.product__description {

}

.product__price {

}

/* CODING_TASKS_8: add/remove product buttons - add styling to your add/remove buttons */

.product__add {

}

.product__remove {

}

footer {
  
}

.footer__link {

}